numpy~=1.26.4
torch~=2.0.1
scipy~=1.12.0
soundfile~=0.13.1
tqdm~=4.66.5
packaging~=24.1
six~=1.16.0
matplotlib~=3.6.2
fsspec~=2024.9.0
einops~=0.8.0
torchaudio~=2.2.2
requests~=2.32.3
pandas~=1.5.2
PyYAML~=6.0.1
setuptools~=67.8.0
seaborn~=0.13.0
openai~=1.76.0
pyttsx3~=2.98
whisper~=1.1.10
sounddevice~=0.5.1