# Core deep learning libraries
torch>=2.0.0
torchvision>=0.15.0
timm>=0.9.2

# Face detection
ultralytics>=8.0.0

# Image and data processing
opencv-python>=4.5.5
numpy>=1.23.0
scikit-learn>=1.0.2
Pillow>=9.0.0

# Visualization
matplotlib>=3.5.1
tqdm>=4.62.3

# Optional (if you want TensorBoard for training visualization, not mandatory)
tensorboard>=2.11.0